@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,700;1,100;1,300&family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300;1,400&display=swap');


:root{
    --principalFont: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--principalFont);
    
}

#about-me h2,p{
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
}

h1,h2,h3{
    user-select: none;
}

h1{font-size: 64px;}

h2{font-size: 52px;}

h3{font-size: 40px;}

p{
    font-size: 1.6rem;
}

section{
    margin-bottom: 4rem;
    scroll-margin-top: 75px;
}


/* Header styles starts */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0, .25);
    position: fixed;
    top:0; left:0;
    z-index: 100;
   
    
}

header .logo a{
    padding: 6px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: #000;
}

header .logo a em p{
    font-size: 1.5rem;
    font-weight: 700;

}


header .logo a hr{
    border: .5px solid rgb(101, 130, 173);
}



header .logo a div{
    font-size: 1.5rem;
    text-align: center;
}

header .logo a div span{
    font-size: 1.8rem;
    color:rgb(139, 14, 14);
}

header nav{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

header nav a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #000;
    padding: 4px 8px;   
    transition: background-color,color .2s linear;
}

header nav a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #000;
}


header nav a:hover{
    background-color: #000; 
    border-radius: 3px;
    color: #fff;
   
   
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* Header styles ends */




/* Welcome styles starts */
.welcome{

   height: calc(100vh - 64px);
   background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
   display: flex;
   align-items: center;
  
}

.welcome h1{
    text-align: center;
    color: #fff;
    width: 100%;
   
}    

.welcome h1 span{
    font-size: 64px;
    color: rgb(189, 84, 14);
}


/* Welcome styles ends */


/* About Me styles starts */
.about-me h2{
    color:rgb(49, 115, 212);
    margin-bottom: 2rem;
}
.about-me{
    margin-bottom: 100px;
}


.about-me h2,p{
    text-align: center;
}

.about-me p{
    font-size: 2.2rem;
    font-style: oblique;
}
/* About Me styles ends */

/* Skills styles starts */
.skills h2{
    color:rgb(49, 115, 212);
    margin-bottom: 4rem;
    text-align: center;

}    


.skills-container img{
    width: 100px;
    height: 100px;
 
}


#js{
    width: 220px;
}

#github{
    width: 220px;
}

#git{
    width: 200px;
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    row-gap: 40px;
}



/* Skills styles ends */

/*Works styles starts */

.works h2{
    color:rgb(49, 115, 212);
    margin-bottom: 6rem;
    text-align: center;
}



.works .grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}

.works .grid-container .grid__item{
    width: 200px;
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
    box-shadow: 2px 2px 8px 1px rgba(0,0,0, .4);
    cursor: pointer;
    transition: background-color,transform .2s linear;
}

.works .grid-container .grid__item:hover{
    background-color: rgb(180, 204, 240);
    transform: scale(1.1);
}

.works .grid-container .grid__item .card-head{
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 14px;
}

.works .grid-container .grid__item .card-body{
    font-size: 1.8rem;
    text-align: center;
}


.works .grid-container .grid__item a{
    width: 65%;
    text-decoration: none;
    font-size: 1.4rem;
    background-color: #000;
    color: #fff;
    padding: 4px 10px;
    margin: 0 auto;
    display: block;
    border-radius: 3px;
    text-align: center;
    margin-top: 14px;
    transition: letter-spacing .2s linear;
}

.works .grid-container .grid__item img{
    width: 100px;
    height: 100px;
}

.works .grid-container .grid__item a:hover{
    letter-spacing: 1px;
}
/*Works styles endss */

/* Contact styles starts */
.contact h2{
    color:rgb(49, 115, 212);
    margin-bottom: 6rem;
    text-align: center;
}

.contact{
    margin-top: 100px;
}

.contact .form{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 16px 8px;
    align-items: center;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0, .5);
    border-radius: 6px;

}

.contact .form input,textarea{
    width: 90%;
}

.contact .form input[type="text"],
.contact .form input[type="email"]{
    margin-bottom: 16px;
    padding: 6px;
    font-size: 2rem;
    border: none;
    border-bottom: 1px solid #000;
    font-style: oblique;
    outline: none;
    transition: padding-bottom .2s linear;
}

.contact .form input:focus{
    padding-bottom: 20px;
}

.contact .form p{
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.contact .form textarea{
    resize: none;
    margin-bottom: 8px;
    padding: 6px;
    font-size: 2rem;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-weight: 400;
}

.contact .form input[type="submit"]{
    border: none;
    background-color: #000;
    color: #fff;
    width: 40%;
    border-radius: 5px;
    transition: letter-spacing .1s linear;
    cursor: pointer;
    margin-top: 40px;
    font-size: 2rem;
    padding: 8px;
}



.contact .form input[type="submit"]:hover{
    letter-spacing: 1px;
    
    
}

.contact .form input[type="text"]:hover,
.contact .form input[type="email"]:hover{
    padding-bottom: 20px;
}



/* Contact styles endss */

/* Footer styles starts */
footer{
    width: 100%;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    
}

footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

footer ul div li{
    list-style: none;
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-weight: 100;
    cursor: pointer;
    user-select: none;

}

footer ul div li span{
    color: #fff;
    font-size: 1.6rem;
    gap: 2rem;
    font-weight: 500;
    border-bottom: solid 2px orange;
}

footer ul div hr{
    border: solid 1px orange; 
}

#copyright li{
    margin: 0;
}
/* Footer styles ends */

.menu{
    display: none;
}



/*Media Queries*/
@media(max-width: 800px){
    *{
        font-size: 55%;
        overflow-x: hidden;
    }
    
   #menu{
       
       overflow: hidden;
      
       
   }
    
  

    header{
        height: 100px;
        align-items: center;
        justify-content: center;
    }
    
    .menu{
        display: block;
        position: absolute;
        top: 26px;
        right: 20px;
    }

    header .logo{
        overflow: hidden;
        
    }
    
    body{
        overflow-x: hidden;
    }

    header nav{
       min-height: 100vh;
       flex-direction: column;
       justify-content: center;
       position: fixed; 
       top: -2000px;
       transition: top .2s linear;
       align-items: center;
       width: 100vw;
       background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
      
      
            
    }
    
    .menu-active{
        top: 0;
    }
    
  
    
    
    header nav a{
        border: 1px solid #000;
        width: 95vw;
        text-align: center;
        padding: 10px;
        background-color: #fff;
        color: rgb(49, 115, 212);
        margin-bottom: 10px;
        border-radius: 4px;
        font-size: 28px;
        border: none;
    
    }
    

   section h2{
       margin-top: 100px;
   }

.menu .btn{
    color: #fff;
}

header .logo a em p,
header .logo a div{
    font-size: 20px;
    overflow: hidden;
}

.about-me{
    padding: 20px;
}



.works .grid-container{
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   justify-content: center;
   padding-bottom: 10px;

}

.contact .form{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}


.contact .form input[type="submit"]{
    padding: 10px;
    font-size: 20px;
}

}



@media(max-width: 600px){
   .works .grid-container .grid__item{
        width: 80%;
        
    }

    .welcome h1{
        font-size: 5.6rem;
    }

    .works .grid-container .grid__item a{
        
        width: 40%;
        padding: 8px;        
    }

    .works .grid-container .grid__item .card-head{
        overflow: hidden;
    }
    
}

footer ul div li{
    overflow: hidden;
}

@media(max-width: 500px){
    footer ul{
        flex-direction: column;
        column-gap: 30px;
    }

    .welcomne h1{
        font-size: 5rem;
    }

    .skills-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        justify-self: center;
    }
}

@media(max-width: 430px){
    .skills-container{
        grid-template-columns: 1fr;
        column-gap: 40px;
    }

    .welcome h1{
        font-size: 4.6rem;
    }

}